<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<add key="Libs.SayHi" value="Soeleman.Libs.SayHi\bin\Release" />
	<add key="Libs.RefStore" value="Soeleman.Libs.RefStore\bin\Release" />
	<add key="Libs.RefProject" value="Soeleman.Libs.RefProject\bin\Release" />
	<add key="Libs.RefPackage" value="Soeleman.Libs.RefPackage\bin\Release" />
	<add key="Libs.Original" value="Soeleman.Libs.Original\bin\Release" />
	<add key="Libs.NetStandard" value="Soeleman.Libs.NetStandard\bin\Release" />
  </packageSources>
</configuration>