@page "/"
@using Soeleman.Rcl;
@inject IJSRuntime JSRuntime
@code {
    private string currentValue = "..........";

    public async void ShowPrompt()
    {
        this.currentValue = await ExampleJsInterop.Prompt(JSRuntime, "Enter Your Message:");
        StateHasChanged();
    }

    private async Task WriteToConsole()
    {
        await JSRuntime.InvokeAsync<object>("WriteCSharpMessageToConsole");
    }
}
<h1>Hello, world!</h1>

Welcome to your new app.

<div class="container">
    <button type="button" class="btn btn-primary" @onclick="ShowPrompt">Show Prompt</button>
    <p><strong>@currentValue</strong></p>
</div>

<Soeleman.Rcl.RclComponent />

<div class="container">
    <img src="/_content/Soeleman.RclView/mona-lisa-256.jpg" alt="MonaLisa" />
</div>

<div class="my-component">
    <button @onclick="WriteToConsole">Run</button>
</div>