@page
@model Soeleman.Libs.LayoutNetCore.Areas.MyFeature.Pages.NetCorePageModel
@{
    ViewData["Title"] = "Error";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NET Core Page</title>
</head>
<body>
    <h1>NET Core Page</h1>
</body>
</html>