<link href="/_content/Soeleman.RclView/styles.css" rel="stylesheet" />
<div class="my-component">
    This Page is defined in the <strong>Soeleman.RclView</strong> package.
</div>
<div class="container">
    <img src="/_content/Soeleman.RclView/mona-lisa-256.jpg" alt="MonaLisa" />
</div>