<div class="container-fluid my-component">
    <div class="row">
        <div class="col-sm">
            <h3>mona-lisa-256.jpg</h3>
            <img src="/_content/Soeleman.Assets.Core/mona-lisa-256.jpg" alt=" 'mona-lisa-256.jpg' on root" />
        </div>
        <div class="col-sm">
            <h3>mona lisa 256.jpg</h3>
            <img src="/_content/Soeleman.Assets.Core/mona lisa 256.jpg" alt=" 'mona lisa 256.jpg' on root" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h3>mona/mona-lisa-256.jpg</h3>
            <img src="/_content/Soeleman.Assets.Core/mona/mona-lisa-256.jpg" alt=" 'mona-lisa-256.jpg' on 'mona' folder" />
        </div>
        <div class="col-sm">
            <h3>mona/mona lisa 256.jpg</h3>
            <img src="/_content/Soeleman.Assets.Core/mona/mona lisa 256.jpg" alt=" 'mona lisa 256.jpg' on 'mona' folder" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h3>mona/lisa mona/mona-lisa-256.jpg</h3>
            <img src="/_content/Soeleman.Assets.Core/mona/lisa mona/mona-lisa-256.jpg" alt=" 'mona-lisa-256.jpg' on 'mona/lisa mona' folder" />
        </div>
        <div class="col-sm">
            <h3>mona/lisa mona/mona lisa 256.jpg</h3>
            <img src="/_content/Soeleman.Assets.Core/mona/lisa mona/mona lisa 256.jpg" alt=" 'mona lisa 256.jpg' on 'mona/lisa mona' folder" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h3>mona lisa/mona-lisa-256.jpg</h3>
            <img src="/_content/Soeleman.Assets.Core/mona lisa/mona-lisa-256.jpg" alt=" 'mona-lisa-256.jpg' on 'mona lisa' folder" />
        </div>
        <div class="col-sm">
            <h3>mona lisa/mona lisa 256.jpg</h3>
            <img src="/_content/Soeleman.Assets.Core/mona lisa/mona lisa 256.jpg" alt=" 'mona lisa 256.jpg' on 'mona lisa' folder" />
        </div>
    </div>
</div>