<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Libs.Model" value="Soeleman.Libs.Model\bin\Release" />
	  <add key="Libs.ClassNetCore" value="Soeleman.Libs.ClassNetCore\bin\Release" />
	  <add key="Libs.ClassNetStandard" value="Soeleman.Libs.ClassNetStandard\bin\Release" />
	  <add key="Libs.RclNetCore" value="Soeleman.Libs.RclNetCore\bin\Release" />
	  <add key="Libs.RclNetStandard" value="Soeleman.Libs.RclNetStandard\bin\Release" />
  </packageSources>
</configuration>