<link rel="stylesheet" href="/_content/Soeleman.Libs.Core/wc/rclcomp/styles.css" />
<div class="my-component">
    This Blazor component is defined in the <strong>Soeleman.Libs.Core</strong> package.
</div>
