<link rel="stylesheet" href="/_content/Soeleman.Libs.Core/wc/rclcomp/styles.css" />
<div class="my-component">
    <p>This ViewComponent Razor is defined in the <strong>Soeleman.Libs.Core</strong> package.</p>
    <img src="/_content/Soeleman.Libs.Core/images/ukiyoe-256.jpg" alt="Ukiyoe" />
</div>