<link href="/_content/Soeleman.Rcl/styles.css" rel="stylesheet" />
<div class="my-component">
    <p>This Blazor component is defined in the <strong>Soeleman.Rcl</strong> package.</p>
    <img src="/_content/Soeleman.Rcl/van-gogh-256.jpg" alt="Lena" />
</div>