<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<add key="Libs.Core" value="Soeleman.Libs.Core\bin\Release" />
	<add key="Libs.LayoutBlazor" value="Soeleman.Libs.LayoutBlazor\bin\Release" />
	<add key="Libs.LayoutNetCore" value="Soeleman.Libs.LayoutNetCore\bin\Release" />
	<add key="Libs.LayoutNetStandard" value="Soeleman.Libs.LayoutNetStandard\bin\Release" />
  </packageSources>
</configuration>