@inherits LayoutComponentBase
<link href="/css/aspnetbootstrap.css" rel="stylesheet" />

<header>
    <NavBootstrapMenu />
</header>

<div class="container">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2019 - MenuHorizontalApp
    </div>
</footer>