@page
@model IndexModel
@using Soeleman.Assets.RazorComponent
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a href="~/myfeature/page1">MyFeature Page</a>

@(await Html.RenderComponentAsync<Component1>(RenderMode.ServerPrerendered))