<link href="/_content/Soeleman.RclPage/styles.css" rel="stylesheet" />
<div class="my-component">
    <p>This Page is defined in the <strong>Soeleman.RclPage</strong> package.</p>
    <img src="/_content/Soeleman.RclPage/lena-256.jpg" alt="Lena" />
</div>