<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<add key="Libs.SayHi" value="Soeleman.Libs.SayHi\bin\Release" />
	<add key="Libs.SayHiClash" value="Soeleman.Libs.SayHiClash\bin\Release" />
	<add key="Libs.SayHiOk" value="Soeleman.Libs.SayHiOk\bin\Release" />
	<add key="Libs.Hello" value="Soeleman.Libs.Hello\bin\Release" />
	<add key="Libs.Parent" value="Soeleman.Libs.Parent\bin\Release" />
	<add key="Libs.Child" value="Soeleman.Libs.Child\bin\Release" />
	<add key="Libs.Original" value="Soeleman.Libs.Original\bin\Release" />
	<add key="Libs.NetStandard" value="Soeleman.Libs.NetStandard\bin\Release" />
	<add key="Libs.BuildOverride" value="Soeleman.Libs.BuildOverride\bin\Release" />
  </packageSources>
</configuration>