@page
@model Soeleman.Mvc.Pages.PageRclModel
@{
    ViewData["Title"] = "Page Razor Class Library";
    Layout = "_Layout";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="container">
    <img src="~/_content/Soeleman.Mvc/images/ukiyoe-256.jpg" />
</div>